<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div>
        <h3>게시글</h3>
        <table class="table">
            <thead>
            <tr>
                <th>글번호</th>
                <th>제목</th>
                <th>작성자</th>
                <th>날짜</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="board : ${boards}">
                <td th:text="${board.id}"></td>
                <td><a th:text="${board.title}" th:href="@{/board/{id}/update (id=${board.id})}" style="text-decoration:none;"></a></td>
                <td th:text="${board.writer}"></td>
                <td th:text="${board.regdate}">

                </td>
            </tr>
            </tbody>
        </table>
        <p>
            <a href="/">이전 페이지</a>
        </p>
    </div>
    <head th:replace="fragments/footer :: footer" />
</div>
</body>
</html>