<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div>
        <h3>게시글 조회</h3>
        <form th:action="@{/board/update}" th:object="${form}" method="post"> <!--th:object="${form}" controller 에서 보내준 form 을 받기 위함-->
            <div class="form-group">
                <input type="hidden" id="*{id}" name="id">
                <div>
                    <label th:for="writer">작성자</label>
                    <input style="width:300px;" class="form-control" type="text" th:field="*{writer}" id="writer" name="writer" placeholder="작성자">
                </div>
                <div>
                    <label th:for="title">제목</label>
                    <input style="width:300px;" class="form-control" type="text" th:field="*{title}" id="title" name="title" placeholder="제목">
                </div>
                <div>
                    <label th:for="content">내용</label>
                    <textarea style="width:600px;" class="form-control" type="text" th:field="*{content}" id="content" name="content" placeholder="내용을 입력하세요."></textarea>
                </div>
            </div>
            <br/>
            <button class="btn btn-dark" type="submit">수정</button>
            <button class="btn btn-secondary" onclick="location.href='/'">취소</button>
            <a th:href="@{/board/{boardId}/delete (boardId=*{id})}">삭제</a>
        </form>
    </div>
    <div th:replace="fragments/footer :: footer" />
</div>
</body>
</html>